body {
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    display: flex;
  }
  
  .sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 240px;
    background: linear-gradient(to left, rgba(0, 17, 254, 1), rgb(0, 28, 186));
    z-index: 1000; 
    pointer-events: all;
    border-right: 3px solid #002594;  
}
  .sidebar {
    padding: 10px;
    color: #ffffff;
    overflow-y: auto;

  }
  
  .logo {
    height: 80px;
  }
  
  .menu {
    list-style: none;
    padding: 0;
  }
  
  .menu li {
    margin-bottom: 8px;
    margin-top: 20px;
  }
  
  .menu li a {
    display: block;
    padding: 10px 0;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .menu li a i {
    margin-right: 10px;
  }
  
  .content {
    margin-left: 170px;
    padding: 20px 80px;
    z-index: 0;
    width: 1000px;
    }
  
  .admin-title {
    font-size: 1.7rem;
    font-weight: bold;
    margin-bottom: -30px;
    text-align: center;
    line-height: 1;
    position: relative;
    top: -30px;
    
  }
  .logo{
    margin-top: 5px;
    margin-left: 50px;
    width: 100px;
    height: 100px;
    top: 5%;
  }
  .admin-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 240px;
    height: 5px;
    background-color: #ffdd00;
  }
  
 
  .menu li a:hover {
    background-color: rgba(255, 255, 255, 0.505);
    min-width: 120px; 
    margin-right: 0px; 
    margin-left: -10px;
    padding-left: 15px;
    border-radius: 10px;
  }
  
  button {
    background-color: #0055ff;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  button:hover {
    background-color: #0026d0f8;
    
  }
  .button {
    background-color: #0055ff;
    color: rgb(255, 255, 255);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  .button:hover {
    background-color: #0026d0f8;
    
  }
  ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 10px;
  }
  section {
position: absolute;
height: 100%;
width: 100%;
background: none;
  }
  .show-modal {
    position: fixed; 
    z-index: 1001;
}

  button.show-modal{
    position: fixed;
    left: 95%;
    bottom: 90%;
    transform: translate(-50%, -50%);
    width: 120px;
    background: #ff0000;
  }
 
.overlay {
  position: fixed;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
  pointer-events: none;
  z-index: 1; 
  
}
.modal-box {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 999; 
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.9));
  max-width: 380px;
  border-radius: 10px;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  pointer-events: none; /
  }

  .modal-box i{
    font-size: 70px;
    color: #ff0000;

  }
  .modal-box h2 {
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
    color: rgb(255, 255, 255);
  }
  .modal-box button{
    padding: 8px 12px;
    font-size: 14px;
    margin: 0 10px;
  }
  .modal-box button.sign-out{
    background-color: rgb(255, 0, 0);
    color: rgb(255, 255, 255);
    text-decoration: none;
    z-index: 1002;
  }
  .modal-box button.no-btn{
    background-color: rgb(0, 8, 255);
    color: rgb(255, 255, 255);
    z-index: 1002;
  }
  .modal-box .buttons {
    margin-top: 25px;

  }
section.active .overlay {
  opacity: 1;
  pointer-events: auto;
}
section.active .modal-box {
  opacity: 1;
  pointer-events: auto;
  top: 50%;
}

.content h1 {
  background: linear-gradient(to bottom, rgb(66, 78, 255), rgb(49, 0, 208));
  width: 3000px;
  height: 30px;
  padding: 20px;
  position: fixed;
  margin-top: -30px;
  margin-left: -10px;
  color: white;
  top: 30px;
  border-bottom: 5px solid #ffdd00; 
  z-index: 3;
}.content p {
  background: linear-gradient(to bottom, rgb(66, 78, 255), rgb(49, 0, 208));
  width: 3000px;
  padding: 10px;
  position: fixed;
  margin-top: 28px;
  margin-left: -1px;
  color: white;
  background: linear-gradient(to bottom, #081cff, rgb(49, 0, 208));
  top: 60px;
}
table {
  width: 107%;
  border-collapse: collapse;
  margin-bottom: 30px;
  table-layout: auto;
  
}
th, td {
  border: 3px solid #a4a4a4;
  padding: 8px;
  text-align: center;
  width: auto;
}
th {
  background-color: #cfcfcf;
}
tr:hover {
  background-color: #f2f2f2;
}
.box-body{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  height: auto;
  width: 100%;
  border: 3px solid #a0a0a0; 
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-left: 10px;
  
}
.box-header{
  
  height: auto;
  width: 100%;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  text-align: center;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 2px;
  border: 3px solid #a0a0a0;
  border-top: 10px solid #ffd900;
  margin-left: 10px;
  
}

.box-footer{
  background: white;
  width: 83%;
  padding: 8px;
  position: fixed;
 color: black;
  margin-left: 240px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
  bottom: 0px;
  
 z-index: 2;
}